/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroTagline {
  color: #fff;
  font-size: 42px;
  margin: 0;
}

.heroBanner {
  background-color: #d8e9de;
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 20px;
}

h1 + p {
  padding-top: 20px;
}

.heroTitle {
  color: #404542;
  font-family: 'Nunito';
  font-weight: 800;
  margin-bottom: 50px;
}

.heroPhoto {
  float: right;
  margin-left: 100px;
  height: 350px;
  border: 6px solid #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.heroButtons {
  margin-top: 30px;
}

.sectionBanner {
  background-color: #3e454b;
  padding: 1.5rem;
}

.sectionBanner h2 {
  text-align: center;
  font-family: 'Nunito';
  font-weight: 800;
  margin-bottom: 0px;
  color: white;
}

.sectionContents {
  padding: 1.5rem;
}

.expTitle {
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  margin: 1em 0 0 0;
}

.expBody {
  text-align: center;
  margin: 0;
}